<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenyizai.wangfuwen.wenyizai">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--使用可视化操作命名功能需配置悬浮窗权限(选配)-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />


    <application
        android:name=".service.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.home.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!--请添加这里的整个intent-filter区块，并确保其中只有一个data字段-->
            <intent-filter>
                <data android:scheme="tingyun.14250"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>=
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <!--请添加这里的整个intent-filter区块，并确保其中只有一个data字段-->
        </activity>

        <service android:name=".service.Myservice" />

        <activity
            android:name=".activity.others.MyListView"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.others.MyListViewSimple"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.others.MyListViewBase"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.others.PulmListActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.CATEGORY_MONKEY" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.others.Charity"
            android:label="@string/title_activity_charity"
            android:parentActivityName=".activity.home.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.home.MainActivity" />
        </activity>
        <activity
            android:name=".activity.weather.WeatherByFastJsonActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".dcs.MyDcsSampleOAuthActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="590bf17fae1bf86738000041" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wenyi" />

    </application>

</manifest>